<div class="p-3">
<%= form_for(@article) do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_area :title, size: "60x1" %>
</p>
<p>
   <%= f.label :content %>
   <%= f.text_area :content, size: "60x3" %>
</p>
<br>

  <%= f.submit %>

<% end %>
</div>

